/* 公用主色系 */
.text-primary {
  color: #027eff
}

/* 第一塊 */
.header {
  background-color: #027eff ;
  color: #ffffff;
  font-size: 18px;
  padding: 8px 0;
}
.bingo-wrap {
  padding: 16px 0 10px 0;
  border-radius: 4px;
  background-color: #f6f9fa;
}

/* 導覽列 */
.nav-pills .nav-link {
  border-radius: 20px;
  background-color: #f0f4f7;
  color: #919aa3;
  margin-right: 10px;
  
}
.nav-pills .nav-link.active {
  background-color: #e1efff;
  color: #54a0e5;
}

/* 剩餘時間 */
.time {
  width: 54px;
  height: 60px;
  border-radius: 8px;
  box-shadow: 1px 1px 4px 0 rgba(80, 80, 80, 0.5);
  background-color: #919aa3;
  font-size: 36px;
  color: #ffffff;
  line-height: 60px ;
}

.time-sign {
  font-size: 40px;
  color: #919aa3;
}
/* 期號  */
.number-inplay {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #ffb14e;
  border-radius:50%;
  margin-right:10px;
  line-height: 30px;
  color: #ffffff;
  font-weight: 500;
}

.special-number-inplay{
  background-color: #ff4e4e;
}
/* 超級獎號 */
.Oval {
  width: 86px;
  height: 86px;
  border: solid 5px #dedede;
  border-radius: 50%;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, #ff4e4e 1%, #d70a0a);
}

.super-number {
  line-height: 80px;
  font-size: 44px;
  color: #ffffff;
}

/* 獎號總和 */
.number-total {
  font-size: 44px ;
}

/* 預測總和 */
.lottery-numbers-bg{
  background-color: #ffefef;
  padding: 14px ;
}
.lottery-text {
  line-height: 30px;
  margin-right: 16px;
  color: #ff4e4e;
  font-size:16px;
}
.lottery-numbers {
  background-color: #ffd196;
  color: #151515;
}
.special-number{
  background-color: #ffabab;
}

/* 歷史開獎紀錄 */
.table{
  border: 1px solid #ebeef1;
}

.table thead th {
  background-color: #f1f3f6;
  border-bottom: 1px solid #ebeef1;
  color: #919aa3;
  font-size: 16px;
  font-weight: 500;
}

.table td, .table th {
  border-top: 1px solid #ebeef1;
}

.table-striped tbody tr:nth-of-type(odd){
  background-color: #ffffff;
}

.table-striped tbody tr:nth-of-type(even){
  background-color: #fbfcfc;
}

.table-striped td {
  vertical-align: middle;
  text-align: center;
}

.period {
  font-size: 16px;
  font-weight: 600;
  color: #404c56;
}

.history-special-number {
  width: 56px;
  height: 56px;
  border: solid 3px #dedede;
  border-radius: 50%;
  margin: 0 auto ;
  background-color: #ffabab;
  line-height: 52px;
  font-size: 26px;
  color: #151515;
}
.history-number-total{
  font-size: 30px;
  font-weight: 500;
  color: #027eff;
}

/* 超級獎號走勢 */

.super-tab-bg {
  background-color: #f6f9fa;
}