/* 共用主色系 */
.text-primary {
  color: #027eff
}

/* 共用 */
.l-bingo-number {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #ffd196;
  border-radius: 50%;
  margin-right: 4px;
  margin-left: 4px;
  margin-bottom: 4px;
  line-height: 25px;
  color: #151515;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

.history-lottery,
.number-periods-lottery {
  width: 338px;
  margin: 0 auto;
}

/* 登入頁 */
.main {
  background: url(../images/login.png) center fixed no-repeat;
  height: 100vh;
  position: relative;
}

.login-wrap {
  width: 354px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
}

.login-logo img {
  width: 82%;
}

.btn-login {
  background-color: #fca027;
  color: #ffffff;
}

.btn-login:hover {
  background-color: #fb930b;
  color: #ffffff;
}

.input-region {
  width: 284px !important;
  margin: 0 auto;
}

.login-wrap input {
  width: 100% !important;
  height: 38px;
}

.ball01 {
  position: absolute;
  top: 8%;
  left: 6%;
  --animate-duration: 3s;
}

.ball02 {
  position: absolute;
  top: 28%;
  left: 26%;
}

.ball03 {
  position: absolute;
  top: 8%;
  right: 32%;
}

.ball04 {
  position: absolute;
  right: 5%;
  top: 30%;
  --animate-duration: 3s;
}

.ball05 {
  position: absolute;
  right: 20%;
  bottom: 30%;
}

.ball06 {
  position: absolute;
  bottom: 5%;
  right: 6%;
  --animate-duration: 3s;
}

.ball07 {
  position: absolute;
  bottom: 12%;
  left: 42%;
}

.ball08 {
  position: absolute;
  bottom: 6%;
  left: 6%;
  --animate-duration: 3s;
}

.ball09 {
  position: absolute;
  bottom: 38%;
  left: 18%;
}

/* 第一塊 */
.header {
  background-color: #027eff;
  color: #ffffff;
  font-size: 18px;
  padding: 8px 0;
}

.bingo-wrap {
  padding: 16px 0 10px 0;
  border-radius: 4px;
  background-color: #f6f9fa;
  text-align: center;
}

.bingo-title {
  padding-right: 0;
}

/* 導覽列 */
.nav-pills .nav-link {
  border-radius: 20px;
  background-color: #f0f4f7;
  color: #919aa3;
  margin-right: 10px;
}

.nav-pills .nav-link.active {
  background-color: #e1efff;
  color: #54a0e5;
}

.nav-link {
  padding: 4px 12px;
}

/* 剩餘時間 */
.time {
  width: 54px;
  height: 60px;
  border-radius: 8px;
  box-shadow: 1px 1px 4px 0 rgba(80, 80, 80, 0.5);
  background-color: #919aa3;
  font-size: 36px;
  color: #ffffff;
  line-height: 60px;
}

.time-sign {
  font-size: 40px;
  color: #919aa3;
}

/* 期號  */
.number-inplay {
  background-color: #ffb14e;
  color: #ffffff;
}

.super-number-inplay {
  background-color: #ff4e4e;
  color: #ffffff;
}

/* 超級獎號 */
.large-super-number {
  width: 86px;
  height: 86px;
  border: solid 5px #dedede;
  border-radius: 50%;
  margin: 0 auto;
  background-image: linear-gradient(to bottom, #ff4e4e 1%, #d70a0a);
  line-height: 80px;
  font-size: 44px;
  color: #ffffff;
}

/* 獎號總和 */
.number-total {
  font-size: 44px;
}

/* 預測總和 */
.expected-sum {
  background-color: #ffefef;
  padding: 14px;
  border-radius: 4px;
}

.expected-sum-text {
  line-height: 30px;
  color: #ff4e4e;
  font-size: 16px;
}

.super-number {
  background-color: #ffabab;
}

/* 歷史開獎紀錄 */
.table {
  border: 1px solid #ebeef1;
  text-align: center;
}

.table thead th {
  background-color: #f1f3f6;
  border-bottom: 1px solid #ebeef1;
  color: #919aa3;
  font-size: 16px;
  font-weight: 500;
}

.table td,
.table th {
  border-top: 1px solid #ebeef1;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.table-striped tbody tr:nth-of-type(even) {
  background-color: #fbfcfc;
}

/* 類別期數 垂直置中 */
.table-striped td {
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
}

.period {
  font-size: 16px;
  font-weight: 600;
  color: #404c56;
}

.history-super-number {
  width: 56px;
  height: 56px;
  border: solid 3px #dedede;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #ffabab;
  line-height: 52px;
  font-size: 26px;
  color: #151515;
}

.history-number-total {
  font-size: 30px;
  font-weight: 500;
  color: #027eff;
}

.table thead th {
  white-space: nowrap;
}

/* 超級獎號走勢 */
.super-tab-bg {
  background-color: #f6f9fa;
}

/* 冷熱碼 */

.ball-type {
  line-height: 30px;
  font-weight: 500;
}

.hotCold-number {
  width: 68px;
}

.hotCold-number .number-inplay {
  margin-top: 2px;
}

/* gototop */
.toTop span {
  position: fixed;
  bottom: 70px;
  right: 24px;
  opacity: .9;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  background: #54a0e5;
  box-shadow: 1px 1px 4px 0 rgb(2, 46, 93);
  line-height: 45px;
  z-index: 9
}

.toTop span:hover {
  background: #057eff
}

.toTop span::before {
  content: "";
  position: absolute;
  left: calc(50% - 7.5px);
  top: calc(50% - 14px);
  width: 0;
  height: 15px;
  border: 7px solid transparent;
  border-top: 10px solid #f6f6f6;
  transform: rotate(180deg)
}

/* RWD */
@media (max-width:992px) {
  .expected-sum-text {
    float: none !important;
    margin-bottom: 10px;
    margin-left: 6px;
  }

  .number-periods-lottery {
    width: 100%;
  }
}

@media (max-width:576px) {
  .lottery-numbers-bg {
    padding: 14px 4px;
  }

  .number-periods-lottery {
    width: 338px;
  }

  .ball01 {
    top: 5%;
    left: 4%;
  }

  .ball02 {
    top: 16%;
    left: 30%;
  }

  .ball03 {
    display: none;
  }

  .ball04 {
    right: 2%;
    top: 14%;
  }

  .ball05 {
    display: none;
  }

  .ball06 {
    bottom: 5%;
    left: 72%;
  }

  .ball07 {
    display: none;
  }

  .ball08 {
    bottom: 2%;
    left: 6%;
  }

  .ball09 {
    left: 32%;
    bottom: 13%;
  }

  .ball01 img,
  .ball06 img,
  .ball04 img,
  .ball08 img,
  .ball09 img {
    width: 52%;
  }

}

@media (max-width: 320px) {
  .number-periods-lottery {
    width: 100%;
  }

  .login-wrap {
    width: 320px;
  }
}

/* loading 動態圖 */
.loading {
  width: 354px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
}

/* 重新整理圖示 */
.refresh .fa-sync-alt {
  cursor: pointer;
}
/* 重新整理圖示轉動 */
.refresh .fa-spin {
  animation: fa-spin 2s infinite linear;
}



/* 後台 */
/* 賓果後台 */
.header {
  background-color: #027eff;
  color: #ffffff;
  font-size: 18px;
  padding: 8px 0;
}

input,
.filterSelect {
  width: 120px !important;
}

.form-group {
  margin-bottom: 0;
}

.tip {
  font-size: 12px;
}

/* icon 樣式 */
.fa-times-circle {
  color: #adadad;
  font-size: 20px;
}

.fa-check-circle {
  color: #00be4a;
  font-size: 20px;
}

.fa-trash {
  color: #adadad;
  font-size: 20px;
}

/* 表格 */
.table {
  border: 2px solid #ebeef1;
}

/* gototop */
.toTop span {
  position: fixed;
  bottom: 70px;
  right: 24px;
  opacity: .9;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  background: #54a0e5;
  box-shadow: 1px 1px 4px 0 rgb(2, 46, 93);
  line-height: 45px;
  z-index: 9
}

.toTop span:hover {
  background: #057eff
}

.toTop span::before {
  content: "";
  position: absolute;
  left: calc(50% - 7.5px);
  top: calc(50% - 14px);
  width: 0;
  height: 15px;
  border: 7px solid transparent;
  border-top: 10px solid #f6f6f6;
  transform: rotate(180deg)
}
